<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="{{ STATIC_URL }}static/main.css" rel="stylesheet" type="text/css" media="screen" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


{% load static %}

<div class="headerDiv">
    <h1 class="header">Ghost Post</h1>
</div>
    {% for foo in boasts%}
    <h2><a href="boast/{{foo.boast}}">{{foo.boast}}</a></h2>
        {{foo.boast}} -- {{foo.boast.count}} 
    {% endfor %}  
    <h4>TOTAL BOASTS:</h4> {{boast.count}}
<div>
{% for foo in boast_post %}
        {{foo.boast}}
        <h4>{{foo.upvotes.count}} Upvotes</h4>
        <h4>{{foo.downvotes.count}} Downvotes</h4>
{% endfor %}
</div>
<div>
{% for foo in roast_post %}
        <h2><a href="roast/{{foo.roast}}">{{foo.roast}}</a></h2>
        <h4>{{foo.upvotes.count}} Upvotes</h4>
        <h4>{{foo.downvotes.count}} Downvotes</h4>
{% endfor %}
</div>
    